extends ../layout

block body
  body
    include ../in/header
    div.group
      a(href= group.website)
        img.grav(src= group.image)
        h2= group.name
      p= group.about
      p= group.creatorName
      if thismod || moderator
        a(href= '/groups/delete/' + group.key + '/' + group.name) Delete this group
        a(href='/groups/edit/' + group.slug) Edit this group
      .stars
        if group.stars > 0
          a.unStarThis(href='star/' + group.key) ★ #{group.starredBy.length}
          ul.starredBy
              for person in group.starredBy
                li
                  img.avatar(src= person.avatar)
                  h6= person.fullName
        if !group.stars
          a.starThis(href='star/' + group.key) ☆
    include ../in/footer
