extends layout

block body
  body
    include in/header

    h1 Edit #{group.name}
    form#addPlace(method="POST", action="/groups/update/" + group.key)
      label(for="type") Type of group:
      select#inputType(name="type")
        if group.type
          option(value=group.type) #{group.type.name}
        else
          option(value="") -- Select a Category --
        each cat in groupCategories[0]
          if group.type.key !== cat.key
            option(value=cat.key) #{cat.name}
      input#inputName(name="name", type="text", placeholder="Name of the group", value= group.name)
      input#inputWebsite(name="website", type="text", placeholder="http://placewebsite.com", value= group.website)
      input#inputTwitter(name="twitter", type="text", placeholder="Twitter username", value= group.twitter)
      input#inputImage(name="image", type="text", placeholder="link to an image", value= group.images)
      textarea#inputAbout(name="about", type="text", maxlength="160", placeholder="Describe this group (160 characters max)") #{group.about}
      button(name="submit", type="submit") Update

    include in/footer