extends layout

block body
  body
    include in/header

    h1 Edit #{place.name}
    form#addPlace(method="POST", action="/places/update/" + place.key)
      label(for="type") Type of place:
      select#inputType(name="type")
        if place.type
          option(value=place.type) #{place.type.name}
        else
          option(value="") -- Select a Category --
        each cat in placeCategories[0]
          if place.type.key !== cat.key
            option(value=cat.key) #{cat.name}
      input#inputName(name="name", type="text", placeholder="Name of the place", value= place.name)
      input#inputAddress(name="address", type="text", placeholder="112 Hundred Acre Wood", value= place.address)
      input#inputCity(name="city", type="text", placeholder="West Richlascowickton City", value= place.city)
      input#inputWebsite(name="website", type="text", placeholder="http://placewebsite.com", value= place.website)
      input#inputImage(name="image", type="text", placeholder="link to an image", value= place.image)
      textarea#inputAbout(name="about", type="text", maxlength="160", placeholder="Describe this place (160 characters max)") #{place.about}
      button(name="submit", type="submit") Update

    include in/footer