extends layout

block body
  body
    include in/header

    h1 Edit #{person.fullName}
    form#addPerson(method="POST", action="/profile/update/" + person.key)
      input#inputFullName(name="fullName", type="text", placeholder="First name", value=person.fullName)
      input#inputEmail(name="email", type="text", placeholder="Email address", value= person.email)
      input#inputTwitter(name="twitter", type="text", placeholder="Twitter username", value= person.twitter)
      input#inputWebsite(name="website", type="text", placeholder="Website", value= person.website)
      input#inputCompany(name="company", type="text", placeholder="Company", value= person.company)
      textarea#inputAbout(name="about", type="text", maxlength="160", placeholder="Introduce yourself (160 characters max)") #{person.about}
      label(for="interests") What are you interested in?
      ul.pickInterests
        each interest in interests
          li
            - var inInterests = (person.interests.indexOf(interest.key) > -1)
            input#inputInterests(name="interests[]", type="checkbox", checked=inInterests , value=interest.key)
            | #{interest.name}
      button(name="submit", type="submit") Update

    include in/footer