extends ../layout

block body
  body
    include ../in/header

    .title-bar
      .stars
        if iStarred
          a.unstar-this(href= '/' + itemType + 's/star/' + item.key) ★ 
        if !iStarred
          a.star-this(href= '/' + itemType + 's/star/' + item.key) ☆
      h1= item.name
      .action-menu
        if slug && itemType !== 'list' && itemType !== 'event'
          a.button.add-to-list(href="/lists/" + slug + "/" + itemType + "s/add/" + item.key) Add to list
        if moderator
          a.button.add-item(href="/" + itemType + "s/edit/" + item.key) Edit this #{itemType}
    if itemType = 'place' && item.address && gmapsApi
      section.map
        iframe(width="100%", height="200", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?q=" + item.address + ' ' + item.city + "&key=" + gmapsApi)
    section.content
      .item.cf
        if item.image
          img.item-image(src= item.image)
        if item.website
          p: a(href= "item.website") #{item.website}
        if item.phone
          p= item.phone        
        if item.map
          p: a(href= item.map)
              span= item.address + ' ' + item.city          
        if item.about
          p= item.about

    section.meta.grid-flex-container
      if item.stars > 0
        div.starredBy.grid-flex-cell.grid-flex-cell-1of3
          if item.starredBy.length = 1
            h6 ★ Starred by one person
          else if item.starredBy.length > 1
            h6 Starred by #{item.starredBy.length} people
          for person in item.starredBy
            a(href= '/people/' + person.slug)
              img.avatar.avatar-rounded.avatar-small(src= person.avatar, title= person.fullName)
      //- if item.lists > 0
      //-   div.listedBy.grid-flex-cell
      //-     if item.listedBy.length = 1
      //-       h6 One list
      //-     else if item.listedBy.length > 1
      //-       h6 #{item.listedBy.length} lists
      //-     for list in item.listedBy
      //-       a(href= list.creatorSlug + '/' + list.slug) #{list.name}

    include ../in/footer
